<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASKs1MnKKMZMf1NCsd7nhZ3Fdy0Ic4WRE</string>
	<key>GCM_SENDER_ID</key>
	<string>729418288169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>itsjohnidk.msgAppFirebaseiOS</string>
	<key>PROJECT_ID</key>
	<string>msgappios-b3920</string>
	<key>STORAGE_BUCKET</key>
	<string>msgappios-b3920.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729418288169:ios:e2d115eeadacd04970a038</string>
</dict>
</plist>